.root {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgb(148, 159, 242);
}
.loginFrame {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  background-color: #fff;
  padding: 2.5em;
  width: 20vw;
  border-radius: 6px;
}
.formTitle {
  margin-bottom: 0.5em;
  font-size: 1.8em;
  color: #333;
}
